@{
    ViewData["Title"] = "Admin Page";
}


<div class="text-center">
    <button type="button" class="btn" id="openAdminModalBtn">Do Admin Stuff</button>
    <div class="chat-container" id="msgs">
        <!-- Messages will be dynamically added here -->
    </div>

    <div id="inputBox">
        <input type="text" id="messageField" placeholder="Type a message and press Enter" />
    </div>
    <!-- Dialog for CRUD operations on User table-->
    <dialog id="manageUsersDialog">
        <!-- Greetings, one and all! -->
        <div id="userList">
            @foreach (var user in Model)
            {
                <div class="user-box" onclick="expandUser(this)">
                    <p>@user.Username</p>
                    <div class="user-info" style="display: none;">
                        <p>ID: @user.UserID</p>
                        <p>Role: @user.Role</p>
                        <p>Active: @user.IsActive</p>
                    </div>
                </div>
            }
        </div>
        <form method="dialog">
            <button>OK</button>
        </form>
    </dialog>
</div>

@* Escape the username and store it in a JavaScript variable *@
<script>
    var userName = @Json.Serialize(Model);
</script>